.information {
        height: 10vh;
        color: white;
        display: flex;
        flex-direction: column;
}

.PizzeriaData {
        font-size: 28px;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Fredericka the Great', 'cursive';
        letter-spacing: 2px;
        color: rgb(249, 182, 23);
        margin-top: 10px;
}

.openingHours {
        margin-top: 10px;
        font-size: 18px;
        color: rgb(116, 204, 0210);
        /* letter-spacing: 2px; */
}