.app__Information {
        height: 5vh;
        color: white;
        display: flex;
        flex-direction: column;
}

/* .PizzeriaData {
        font-size: 28px;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Fredericka the Great', 'cursive';
        letter-spacing: 2px;
        color: rgb(249, 182, 23);
        margin-top: 10px;
} */

.app__Information-openingHours {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 24px;
        color: #4faec0;
}