.pubLogo {
    position: sticky; 
    position: -webkit-sticky;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100px;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    top: 0;
    z-index: 999;
    background: url(../../image/tlobg2.png) repeat;
    object-fit: fill;
}

.app__Header-img img{
    width: 220px;
    height: auto;
    margin: 5px;
    padding-top: 90px;
    opacity: 90%;
    z-index: 1000;
}

.logoDivs {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    /* border: brown 1px solid; */
}

.namePub {
    font-size: 48px;
    font-family: 'Fredericka the Great', 'cursive';
    color: rgb(116, 204, 210);
    text-align: right; 
    /* border: brown 1px solid; */
}

.name3po3 {
    font-size: 72px;
    font-family: 'Fredericka the Great', 'cursive';
    color: rgb(249, 182, 23);
    margin-left: 10px;
    /* border: brown 1px solid; */
}

.phoneFlags {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-content:space-around;
        width: 40%;
        height: 80%;
        font-size: 36px;
        color: rgb(249, 182, 23);
        font-family: 'Fredericka the Great','cursive';
        margin-left: 40px;
        /* border: rgb(52, 165, 42) 1px solid; */
}

.headerPhone {
        text-align: end;
        bottom: 0;
}

.flags {
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    width: 100%;
    /* border: blueviolet 1px solid; */
}
.flags img {
    height: 30px;
    object-fit: contain;
}
.polishFlag {
    position: relative;
    left:  20%;
    /* border: rgb(8, 231, 56) 1px solid; */
}
.englishFlag {
    position: relative;
    right: 18%;
    /* border: brown 1px solid; */

}

@media ( max-width: 1650px) {
    .headerPhone {
        font-size: 24px;
    }
}

@media (max-width: 1440px) {
    .pubLogo {
        width: 60%;
        }
}

@media (max-width: 1300px) {
    .namePub {
        font-size: 24px;
    }
    .name3po3 {
        font-size: 48px;
    }
}

@media (max-width: 720px) {
    .headerPhone {
        font-size: 18px;
    }
}

@media (max-width: 660px) {
    .pubLogo {
        width: 70%;
            }
}

@media (max-width: 550px) {
    .pubLogo {
        width: 90%;
    }
    .headerPhone {
        font-size: 16px;
    }

}