.app__Header {
    position: sticky; 
    position: -webkit-sticky;
    display: flex;
    height: 11vh;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 200;
    background-color: #0c1a22;
}

.app__Header-logo {
    text-align: right;
    font-size: 48px;
    width: 30%;
    height: 100px;
    color: rgb(116, 204, 210);
    font-family: 'Fredericka the Great', 'cursive';
}

.app__Header-logo span {
    color: rgb(249, 182, 23);
}


.app__Header-contact {
    font-size: 36px;
    font-family: 'Fredericka the Great','cursive';
    color: rgb(249, 182, 23);
    width: 39%;
    height: 100px;
    margin-bottom: 25px;
}

.app__Header-contact p{
    display: block;
    margin: 0 auto;
}

.app-Header-flags {
    width: 6%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app-Header-flags img {
    width: 50px;
    height: 30px;
}

.app-Header-pfr {
    width: 25%;
    object-fit: fill;
    z-index: 300;       
}

.app-Header-pfr img {
    width: 200px;
}