* {
    margin: 0 auto;
    padding: 0;
}

body {
    color: white;
    background-position:fixed;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    /* position: relative; */
    text-align: center;
    background-color: #0c1a22;
    border: #f1ee04 1px solid;
    background-size: auto;
}

.information {
    flex-basis: 10vh;
}

.footer {
    display: flex;
    /* align-self: flex-end; */
    flex-basis:auto;
    border: #f1ee04 1px solid;
    margin: .5vw auto 0 auto;
    font-family: 'Fredericka the Great', 'cursive';
    border-top: #5c5b5b solid 1px;
    text-align: center;
    padding-top: 3px;
    font-size: 18px;
}

.products {
    flex-grow: 1;
    border: chartreuse 1px solid;
}
